<h1>Welcome back {{username}}</h1>
<h2>All your blogs:</h2>
<form action="" id="newBlog">
    <input type="text" id="title" placeholder="title">
    <textarea id="body" cols="30" rows="10"></textarea>
    <button>Submit</button>
</form>

{{#each Blogs}}
<div class="card">
  <h5 class="card-header">{{title}}</h5>
  <div class="card-body">
    <p class="card-text">{{body}}</p>
    <button class="btn btn-primary deleteBtn">Delete</button>
  </div>
</div>
{{/each}}

<script src="/js/profile.js"></script>